@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /*background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* Default styles */

/* Styles for desktops and larger screens */
@media only screen and (min-width: 1024px) {
  /* Header */
  header {
    height: 35vh;
  }

  /* Main */
  main {
    height: 65vh;
    flex-direction: row;
  }

  .left {
    width: 52rem;
  }

  .right {
    width: 52rem;
    font-size: 2rem;
  }

  /* Additional styles for desktop screens go here */
}

/* Styles for tablets */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Header */
  header {
    height: 30vh;
  }

  /* Main */
  main {
    height: 70vh;
    flex-direction: row;
  }

  .left {
    width: 40rem;
  }

  .right {
    width: 40rem;
    font-size: 1.8rem;
  }

  /* Additional styles for tablet screens go here */
}

/* Styles for phones and smaller screens */
@media only screen and (max-width: 767px) {
  /* Header */
  header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 15px;
  }

  p {
    padding-top: 0.3rem;

    font-size: 15px;
  }

  .between {
    position: static;
    margin-top: 1rem;
    margin-right: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .again {
    position: static;
    margin-left: 0;
    margin-top: 0.3em;
  }

  .number {
    position: static;
    transform: none;
    margin-top: 2rem;
    left: auto;
    right: auto;
    width: 40%;
    font-size: 4rem;
    padding: 2rem 0rem;
  }

  /* Main */
  main {
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: 80%;
  }

  .right {
    width: 80%;
    font-size: 1.6rem;
    text-align: center;
  }

  .guess {
    margin-bottom: 10px;
  }

  .btn {
    width: 60%;
    margin: 10px;
  }

  /* Additional styles for phone screens go here */
  @media only screen and (max-width: 412px) {
    header {
      height: 35vh;
    }

    .guess {
      margin-top: 5rem;
    }
  }
}
